<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OCR Calculator</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css" rel="stylesheet">
    <link href="/static/style.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <form action="/upload" method="post" enctype="multipart/form-data" class="mt-5 p-5 cal">
            <div class="text-center">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="equationType" id="math" value="math" checked>
                    <label class="form-check-label" for="math">연산</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="equationType" id="polynomial" value="polynomial">
                    <label class="form-check-label" for="polynomial">다항식</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="equationType" id="trigonometry" value="trigonometry">
                    <label class="form-check-label" for="trigonometry">기하</label>
                </div>
            </div>
            <br>
            <div class="row justify-content-center">
                <div class="text-center col-md-4" id="drop-area">
                    <input type="file" class="custom-file-input" name="file" id="customFile" accept="image/*"
                        style="display: none" onchange="displayFileName(this)">
                    <button type="button" class="w-75 btn btn-primary btn-lg"
                        onclick="document.getElementById('customFile').click();">
                        업로드
                    </button>
                </div>
                <div class="text-center col-md-4">
                    <button type="button" class="w-75 btn btn-primary btn-lg" data-toggle="modal" data-target="#cameraModal">
                        사진
                    </button>                    
                </div>
                <div class="text-center col-md-4">
                    <button type="button" class="w-75 btn btn-primary btn-lg" data-toggle="modal"
                        data-target="#exampleModal">
                        그리기
                    </button>
                </div>
            </div>
            <div id="ocr-table" class="p-5">
                <div class="row justify-content-around py-3">
                    <div class="col-md-5">
                        <img src="" alt="Uploaded Image" id="uploaded-image" class="img-fluid">
                    </div>
                    <div class="col-md-5 position-relative">
                        <div class="h-50 ans">
                            <h5>식: <span id="exp"></span></h5>
                        </div>
                        <div class="h-50 ans">
                            <h5>결과: <span id="result"></span></h5>
                        </div>
                        <div class="loading-overlay spinner"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">그리기</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div style="margin: auto;">
                        <canvas id="drawingCanvas" width="600" height="300"></canvas>
                        <button id="clearButton" class="my-3">지우기</button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="saveCanvas()">
                            확인
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="cameraModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">사진</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <video id="cameraPreview" width="100%" height="auto" autoplay playsinline></video>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
                        <button type="button" class="btn btn-primary" onclick="capturePhoto()">확인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>
